<p-menubar [model]="items">
    <button type="button" pButton pRipple [label]="usuario.name" icon="pi pi-user" class="p-button-raised p-button-text p-button-plain" style="margin-left:.25em; margin-right: .50rem;" disabled></button>
    <button type="button" pButton pRipple label="Cerrar sesión" (click)="logOut()" icon="pi pi-power-off" class="p-button-raised p-button-text p-button-plain" style="margin-left:.25em; margin-right: .50rem;"></button>
    <img src="./favicon.ico" alt="icon">
    
</p-menubar>