<h1>Nuevo Cliente</h1>
<hr>
<br>
<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend="Nuevo" [toggleable]="true">
            <form (ngSubmit)="agregar()" autocomplete="off" [formGroup]="miForm">
                <div class="p-fluid p-formgrid p-grid">

                   
                    <div class="p-field p-col-12 p-md-3">
                        <input #fileUpload type="file" (click)="fileUpload.value"(change)="upload($event)" style="display:none" accept="image/*">
                        <button pButton pRipple icon="pi pi-image" type="button" label="Imagen" class="p-button-secondary p-button-outlined"  (click)="fileUpload.click()">  </button>
                    </div>

                    
                    <div class="p-field p-col-12 p-md-2">
                    </div>

                    <div class="p-field p-col-12 p-md-5" style="text-align: center;" >
                        <p-fieldset legend="Foto" [toggleable]="true"  *ngIf="urlTemp">
                            <img [src]="urlTemp" alt="imagen" width="80"  style="border-radius:20px;" >
                        </p-fieldset>
                    </div>

                    <div class="p-field p-col-12 p-md-2">
                    </div>


                    <div class="p-field p-col-12 p-md-4">
                        <label for="Nombre">Nombre</label>
                        <input id="Nombre" type="text" pInputText formControlName="name"> 
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="A_paterno">A_paterno</label>
                        <input id="A_paterno" type="text" pInputText formControlName="mName"> 
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="A_Materno">A_Materno</label>
                        <input id="A_Materno" type="text" pInputText formControlName="lName"> 
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="telefono">Teléfono</label>
                        <input id="telefono" type="number" pInputText formControlName="phoneNumber"> 
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="correo">Correo</label>
                        <input id="correo" type="email" pInputText formControlName="email"> 
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="fecha">Fecha de Creación </label>
                        <input id="fecha" type="text" pInputText readonly formControlName="creation"> 
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <label for="Latitud">Latitud</label>
                        <input id="Latitud" type="text" pInputText readonly formControlName="lat"> 
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <label for="Longitud">Longitud</label>
                        <input id="Longitud" type="text" pInputText readonly formControlName="lng"> 
                        
                    </div>
                    <div class="p-field p-sm-12">
                        <button pButton pRipple type="submit" label="Guardar" class="float-end p-button-info p-button-outlined" [disabled]="!miForm.valid"></button>
                    </div>
                </div>
            </form>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="Ubicar Cliente" [toggleable]="true">
            <div class="mapa" id="mapContainer" ></div>
        </p-fieldset>
    </div>
   
</div>



